[Unit]
Description=Iridium SBD Daemon
After=network.target

[Service]
User=user
Group=group

Type=simple
Environment="PYTHONPATH=/home/user/.sbdd/venv"

PIDFile=/var/run/sbdd.pid
WorkingDirectory=/home/user/.sbdd/

ExecStartPre=/bin/rm -f /var/run/freya-sbdd/freya-sbdd.pid
ExecStartPre=/bin/mkdir -p /var/run/freya-sbdd
ExecStartPre=/bin/chown freya:freya /var/run/freya-sbdd
ExecStart=/home/freya/freya_app/venv/bin/python -m sbdd

KillSignal=SIGTERM
KillMode=process

[Install]
WantedBy=multi-user.target
